#!/bin/bash
# log= where to log ; wdir=working directory , where to save the downloaded zones ;
# list= where to download the ip zones from
log=/var/log/ipset-drop.log
wdir=/root/ipset-drop
list='http://www.ipdeny.com/ipblocks/data/countries'

#http://www.ipdeny.com/ipblocks/data/countries/all-zones.tar.gz
#http://www.ipdeny.com/ipv6/ipaddresses/blocks/ipv6-all-zones.tar.gz

#geoblock=(au it bd ru vn bo pk cn tw hk ua am in lv kz tr md br kg ar by lt)
geoblock=()
{% for country in geoblock %}
geoblock+=({{ country }})
{% endfor %}

if ! [ -d $wdir ] ; then
	mkdir $wdir
fi

#ipset -N geoblocklist nethash
/sbin/ipset -L -n geoblocklist
if [ $? -ne 0 ] ; then
	echo "creating new ipset \"geoblocklist\""
	/sbin/ipset -N geoblocklist nethash
	if [ $? -ne 0 ] ; then
		echo "creation of geoblocklist ipset failed... ipset not available?!"
		exit 1
	fi
fi
#ipset -L

# Flush iptables INPUT Chain
#iptables -F INPUT

# local ftp bruteforce block ( you may wanna remove this rule )
#iptables -A INPUT -s 127.0.0.0/8 -d 0/0 -p tcp --dport 21 -j DROP

# iptables match-set for geoblocklist (block multiple ports rule - ftp,apache,mysql,cpanel ports)
#iptables -I INPUT -p tcp -m multiport --dports 22,21,80,443,3306,8081,2082,2083,2086,2087 -m set --match-set geoblocklist src -j DROP

# log $1
function log_this() {
        printf '%s: %s\n' "$(date --rfc-3339=seconds)" "$1" >> $log
}


cd $wdir || exit 1

# if the ipset is missing, it's useless to download anything
/sbin/ipset -L geoblocklist > /dev/null 2>&1
if [ $? -ne 0 ]; then
        log_this 'error in ipset -L geoblocklist'
        exit 1
fi

curl_flags='--silent --show-error --remote-name --remote-time --max-time 150
        --write-out %{http_code}'

force=false
for arg in "$@"; do
        case "$arg" in
                -v) curl_flags="--verbose $curl_flags"; curl_keep_stderr=true ;;
                --force) force=true ;;
        esac
done

new_files=""
old_files=""
# download file, name must not be null, and must have no spaces (urlencode).
# existing files are downloaded only if newer.
# new_ and old_ files are updated according to the result.
# stderr displays normally when -v (verbose) is given on the command line
function run_curl() {
        local name=$1 existing="" time_cond="" rtc=""
        if [ -f $name ]; then
                time_cond="--time-cond $name"
                existing=$name
        fi
        if [ -n "$curl_keep_stderr" ]; then
                rtc=$(curl $curl_flags $time_cond $list/$name)
        else
                rtc=$(curl $curl_flags $time_cond $list/$name 2>&1)
        fi
        if [ $? -eq 0 ]; then
                if [ "$rtc" = "200" -a -f $name ]; then
                        new_files+="${new_files:+ }$name"
                        existing=''
                elif [ "$rtc" != "304" ]; then
                        log_this "http $rtc for $name"
                fi
        else
                log_this "${rtc:-curl: $?} for $list/$name"
        fi
        test -n "$existing" && old_files+="${old_files:+ }$existing"
}

# define what files to process
do_ipset=""
if [ -f no-download ]; then
        do_ipset=$(<no-download)
        log_this "no-download${do_ipset:+: $do_ipset}"
else
# download China,Korea,Taiwan,Hong-Kong zones (edit the following per your needs):
	for i in ${geoblock[*]} ; do
		echo run_curl ${i}.zone
		run_curl ${i}.zone
	done

        log_this "download: ${new_files:-none}${old_files:+, existing: $old_files}"
        if [ "$force" = true ]; then
                # Force: rebuild from all current zone files, remove stale ones
                do_ipset=""
                for i in ${geoblock[*]}; do
                        [ -f "${i}.zone" ] && do_ipset+="${do_ipset:+ }${i}.zone"
                done
                for f in *.zone; do
                        [ -f "$f" ] || continue
                        zone_country="${f%.zone}"
                        if [[ ! " ${geoblock[*]} " =~ " ${zone_country} " ]]; then
                                rm -f "$f"
                                log_this "removed stale zone file: $f"
                        fi
                done
                log_this "force rebuild: ${do_ipset:-none}"
        else
                do_ipset=${new_files:+$new_files $old_files}  # do both if any is new
        fi
fi

# process blocks, if any
if [ -n "$do_ipset" ]; then
        /sbin/ipset -X temp  > /dev/null 2>&1
        /sbin/ipset -N temp nethash maxelem 128000

        perl -e 'while(<>){s/;.*//; s/\s//g; print $_, "\n" unless /^$/;}' \
                $do_ipset |
                (
                        blockcount=0;
                        errcount=0
                        while read block; do
                                err=$(/sbin/ipset -A temp $block 2>&1)
                                if [ $? -ne 0 ]; then
                                        (( ++errcount < 6 )) && log_this "$block $err"
                                else
                                        (( ++blockcount ))
                                fi
                        done
                        test $errcount -gt 6 &&
                                log_this "$errcount errors in $do_ipset"
                        log_this "$blockcount blocks set from $do_ipset"
                )

        #service iptables save
        /sbin/ipset -W temp geoblocklist
        /sbin/ipset -X temp
        /sbin/ipset save > /dev/null 2>&1

fi

