---
apiVersion: v1
kind: ConfigMap
metadata:
  name: nvidia-device-plugin-config
  namespace: kube-system
data:
  config.yaml: |
    version: v1
    sharing:
      timeSlicing:
        resources:
          - name: nvidia.com/gpu
            replicas: {{ nvidia_gpu_timeslice_replicas }}
---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: nvidia-device-plugin-daemonset
  namespace: kube-system
  labels:
    app: nvidia-device-plugin
spec:
  selector:
    matchLabels:
      app: nvidia-device-plugin
  updateStrategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: nvidia-device-plugin
    spec:
      priorityClassName: system-node-critical
      tolerations:
        - operator: Exists
          effect: NoSchedule
        - operator: Exists
          effect: NoExecute
        - operator: Exists
          effect: PreferNoSchedule
      nodeSelector:
        nvidia.com/gpu.present: "true"
      containers:
        - name: nvidia-device-plugin-ctr
          # https://github.com/NVIDIA/k8s-device-plugin
          image: nvcr.io/nvidia/k8s-device-plugin:v0.18.2
          args:
            - "--device-discovery-strategy=nvml"
            - "--device-list-strategy=cdi-cri"
            - "--config-file=/config/config.yaml"
          securityContext:
            privileged: true
          volumeMounts:
            - name: device-plugin
              mountPath: /var/lib/kubelet/device-plugins
            - name: driver-root
              mountPath: /driver-root
              readOnly: true
            - name: cdi-root
              mountPath: /var/run/cdi
            - name: plugin-config
              mountPath: /config
      volumes:
        - name: device-plugin
          hostPath:
            path: /var/lib/kubelet/device-plugins
        - name: driver-root
          hostPath:
            path: /
        - name: cdi-root
          hostPath:
            path: /var/run/cdi
            type: DirectoryOrCreate
        - name: plugin-config
          configMap:
            name: nvidia-device-plugin-config
